/* General Info */
/* -------------------------------------------- */
* {
  border: 1px solid teal;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--night-forest);
  color: var(--pale-sage);
  background-color: darkseagreen;
}

/* Variables for Colors */
:root {
  --pale-sage: #bff4cb;
  --sage: #84a98c;
  --dusty-emerald: #52796f;
  --deep-emerald: #354f52;
  --night-forest: #2f3e46;
}

/* Mobile Flex */
/* --------------------------------------- */

/* Flex Container */
.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
}

/* Flex Elements */
main {
  min-height: 60vh;
  flex-grow: 5;
}

aside,
nav {
  flex-grow: 2;
  background-color: var(--dusty-emerald);
}

footer,
header {
  flex-grow: 1;
  background-color: var(--sage);
}

/* Media Queries for Desktop Mode */
@media (min-width: 600px) {
  .container {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
  }

  header,
  footer {
    width: 100%;
  }

  main {
    width: 60%;
  }
}
